@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

body {
    position: absolute;
    overflow-x : hidden;
    background-color: grey;
}

.nav {
    position: absolute;
    width: 97vw;
    top: -8px;
    float: center;
    background-color: grey;
    padding: 0 50px 0 10px;
    text-align: center;
    z-index: 1;

}

.nav ul {
    width: 97vw;
    list-style-type: none;
    font-size: 22px;
    font-family: 'Red Rose', cursive;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav li {
    display: inline;

}

.nav li a {
    float: left;
    display: block;
    height: 40px;
    width: 300px;
    text-decoration: none;
    color: white;
    background-color: grey;
}

.nav li a:hover {
    background-color: #191f45;
}

* {box-sizing:border-box}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


    /* styling search bar */ 
    .search input[type=text]{ 
      position: absolute;
      width:150px; 
      height:25px; 
      border-radius:25px; 
      border: none; 
  } 
         
  .search button{ 
    position: absolute;
      background-color: #0074D9; 
      color: #f2f2f2; 
      float: right; 
      padding: 5px 10px; 
      margin-right: 16px; 
      font-size: 12px; 
      border: none; 
      cursor: pointer; 
  }  

  .search {
    position: absolute;
    top: 0%;
    left: 65%;
  }

  button {
    position: absolute;
    margin-left: 10px;
    width: 50px;
    height: 25px;
    left: 155px;
  }


  #blog_wrapper {
    position: relative;
    top: -500px;
    margin: 0 auto;
    width: 1920px;
    height: 1500px;
  }

  .blog_1 {
    position: absolute;
    left: 3%;
    top: 38%;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    
  }

  .code_image {
    position: absolute;
    top: 60%;
    left: 42%;
    border-left: 5px dotted #000;
    border-top: 5px dotted #000;
    border-right: 5px dotted #000;
    border-bottom: 5px dotted #000;
    
  }

  .text_box {
    position: absolute;
    top: 68%;
    left: 3%;
    width: 35%;
    background-color: #2b2d2f;
    height: 795px; 
    border-left: 5px dashed #000;
    border-top: 5px dashed #000;
    border-right: 5px dashed #000;
    border-bottom: 5px dashed #000;
  }

  .heading_box {
    position: absolute;
    z-index: 1;
    background-color: #191f45;
    width: 35%;
    height: 8%;
    top: 60%;
    left: 3%;
    border-left: 5px dashed #000;
    border-top: 5px dashed #000;
    border-right: 5px dashed #000;

  }

  .heading_box h1 {
    padding-top: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: white;
  }

  .text_box p {
    padding-top: 2px;
    font-size: 28px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
  }